schemas/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
              <xs:element name="email" type="xs:string"/>
              <xs:element name="passwordHash" type="xs:string"/>
              <xs:element name="role">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="admin"/>
                    <xs:enumeration value="teacher"/>
                    <xs:enumeration value="student"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="language" type="xs:string"/>
              <xs:element name="classId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="userKey">
      <xs:selector xpath="user"/>
      <xs:field xpath="id"/>
    </xs:key>
  </xs:element>
</xs:schema>
